* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #000000ed;
  color: #333;
}

h1,
h2,
p {
  color: white;
}
p {
  margin-bottom: 30px;
}
img {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  color: red;
}
ul li {
  margin-bottom: 1em;
}
ul li div {
  margin-top: 0.3em;
}
strong {
  color: white;
}
/* strong::before {
  content: "🔥";
} */
details summary {
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

hr {
  margin: 40px 0;
}
