* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container,
figure {
  max-width: 800px;
  margin: 30px auto;
  padding: 5px;
  /* border: 5px solid red; */
}
img {
  width: 100%;
  /* filter: grayscale(50%); */
  /* prefixes */
  /* 
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  filter: grayscale(50%);
   */
  /* filter: blur(2px); */
  /* filter: brightness(250%); */
  /* filter: drop-shadow(5px 5px 5px red); */
  /* filter: contrast(150%); */
  /* filter: opacity(20%); */
  /* filter: sepia(100%); */
  /* filter: saturate(350%); */
  /* filter: hue-rotate(300deg); */
  /* filter: invert(80%); */
  /* Reset  & chain filter*/
  filter: grayscale(80%) blur(2px) invert(80%);
  filter: none;
}
