/* global style body and html */
body{
    border: 5px solid brown;
    margin: 10px;
    padding: 15px;
}
html{
    border: 3px solid rgb(5, 45, 55);
}
.sporty{
    color: brown;
}
.casual{
    color:midnightblue;
}
.formal{
    color:saddlebrown;
}
a{
    text-decoration: none;
}
/* multiple styles
p,
.sporty{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
     */
     /*using id 
     using class would be .main p   descendant style*/
    
.sporty,.casual,.formal{
    font-family:'Poppins', cursive;
   
}
.container{
    margin: 10px;
    padding: 100x;
    max-width: 800px;
}     
/* descendant style */
.container p{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}  
p{
    background-color: cadetblue;
    font-family: fantasy;
}  

