* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 72%;
  /* 72% of 16px */
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 80%;
  margin: 20px auto;
  border: 2px solid red;
}
p {
  font-size: 2rem;
}
h2 {
  font-size: 5em;
}
.item ul {
  font-size: 2em;
  /* nested ul parent is ul
  first ul parent is html
  for em */
}

ul {
  font-size: 2rem;
}
