*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(8, 192, 221);
  --secondary-color: rgb(38, 36, 49);
  --tertiary-color: rgb(47, 44, 61);
}
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
}
ul li {
  list-style-type: none;
}
/* navbar style */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}
.navbar__container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 9.5rem;
}
.navbar__logo img {
  width: 112px;
  height: 36px;
}
.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}
.navbar__menu-link:hover {
  color: var(--primary-color);
}
.navbar__menu-link--primary {
  color: var(--primary-color);
}
.navbar__menu-link--primary:hover {
  color: white;
}
/* navbar style ends here*/
