*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(8, 192, 221);
  --secondary-color: rgb(38, 36, 49);
  --tertiary-color: rgb(47, 44, 61);
}
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: white;
}
img {
  max-width: 100%;
}
ul li {
  list-style-type: none;
}
