* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  padding: 2rem;
}

/* 
> Child Combinator
+ General Sibling Combinator
~ Adjacent Sibling Combinator
*/

/* added class in my own to remember 
do not need to add class for this */
/* Get only paragraphs that are direct children of container */
.container p {
  border: 2px solid violet;
} /* it grabs all the p */
/* direct children it just p1 doesnt matter the order */
.container > p {
  background-color: rgb(255, 181, 255);
}
/* Get only unordered lists that are direct children of container */
.container > ul > li {
  border: 2px solid red;
  list-style-type: none;
} /* only ul1 is the one whos direct children */

/* Get only links that are direct children of container */
.container > a {
  background-color: cadetblue;
  color: white;
  padding: 10px;
} /* the middle link2 is under div so its not direct
children of container */

/* Get the immidiate sibling link after h1 */
.container h1 + a {
  text-decoration: none;
}
.container a + p {
  text-decoration: underline;
} /* it wont work as p is not the 
immediate sibling of a 
h2 is the immediate sibling 
so if h2 is placed thn it will work */

/* Get all links that are siblings that come after h1 */
.container h1 ~ a {
  border: 2px solid maroon;
  margin: 5px;
}
.container ul ~ div {
  background-color: rgb(255, 255, 111);
}
/* it wont work as div */
.container ul + div {
  background-color: rgb(83, 83, 29);
}
