body {
  font-family: Arial, sans-serif;
}
.btn {
  margin: 50px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: palevioletred;
  color: white;
  font-size: 15px;
}
.dark {
  background-color: rgb(41, 41, 41);
}
.light {
  color: azure;
}
