*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --secondary-color: rgb(239, 192, 91);
  --primary-color: rgb(252, 93, 102);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
header {
  /* margin: 20px auto; */
  padding: 1rem 2rem;
  background-color: transparent;
  /* for position fixed it is needed */
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s ease-in-out;
}
header.head-bar-scroll {
  background-color: rgba(252, 93, 102, 0.7);
  backdrop-filter: blur(10px);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  /* border: 2px solid red; */
}
img {
  max-width: 100%;
}
.head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-list {
  display: flex;
  gap: 2.4rem;
}
.fab {
  font-size: 24px;
}
.fa-bars {
  font-size: 24px;
  color: white;
}
.toggle-bar {
  cursor: pointer;
}
.mobile-bar {
  display: none;
}
.mobile-nav-bar {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  text-align: center;
  padding: 3rem;
  /* gap: 2rem; */
  box-shadow: 1px 1px 10px 3px rgb(78, 77, 77);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.mobile-nav-bar.active {
  transform: translateX(0);
}

.mobile-nav-bar-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.3rem;
}
.nav-bar-list a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
}
.nav-bar-list a:hover {
  color: var(--secondary-color);
}
li {
  list-style-type: none;
}
.head-flex img {
  width: 90px;
}
.homepage {
  /* height: 100vh; */
  background: black url(./images/header-background.jpg) no-repeat center
    center/cover;
  color: white;
  position: relative;
  overflow-x: hidden;
  padding: 10rem 1.5rem 13rem;
  /* border: 3px solid green; */
}
.homepage-flex img {
  width: 100%;
  margin-top: 30px;
  margin-right: -120px;
}
.homepage-flex {
  /* border: 3px solid blue; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding-bottom: 5rem;
}
.home-content h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}
.home-content p {
  padding: 20px 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.hompage-btn {
  display: inline-block;
  /* width: 190px;
  height: 70px; */
  text-align: center;
  color: black;
  padding: 1.3rem 2.3rem;
  background-color: var(--secondary-color);
  border-radius: 40px;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}
a:hover.hompage-btn,
button:hover.hompage-btn {
  border: 2px solid white;
  background-color: var(--primary-color);
  color: white;
}
.homepage .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
/* learn section style */
.learn-heading {
  /* border: 2px solid rebeccapurple; */
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  margin-bottom: 3rem;
}
.learn-heading h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.learn-heading p {
  margin-top: 1.7rem;
  font-size: 1.3rem;
  color: rgb(52, 52, 52);
}
.learn-heading-border {
  width: 70px;
  height: 5px;
  background-color: var(--primary-color);
  margin: 0 auto;
}
.learn-gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.learn-topic p {
  font-weight: 700;
  padding-top: 10px;
}
.learn-topic img {
  transition: transform 0.5s;
}
.learn-topic img:hover {
  transform: scale(1.1);
}
/*-- learn section style ends-- */

/* course section style */
.course {
  margin: 60px 0;
}
.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0 4rem;
}
.course-chapters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.75rem;
  background: white;
  box-shadow: 2px 2px 8px 2px rgba(193, 192, 192, 0.8);
}
.course-chapters h3 {
  font-size: 1.3rem;
  margin: 1rem 0;
}
.course-chapters img {
  width: 145px;
  height: 122px;
  margin-top: 25px;
}
/*-- course section style ends-- */

/* summary section style */
.summary {
  background-color: rgba(216, 216, 216, 0.23);
  color: black;
  padding: 4rem 2rem 5rem;
  /* margin: 8rem 0; */
}
.summary-list {
  /* border: thin solid red; */
  background-color: white;
  padding: 3rem 2.5rem;
}
.summary-list-item .summary-heading {
  background-color: var(--primary-color);
  padding: 0.3rem 0.8rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}
.summary-list .summary-point {
  padding: 0.9rem 0;
  border-bottom: thin solid rgba(228, 228, 228, 0.322);
  margin: 1.4rem 0;
}

.summary-list-item div:last-of-type {
  border: none;
}
/* summary section style ends here*/

/* course-info style */
.info-container {
  background: url("./images/audience.jpg") no-repeat top center/cover;
  display: flex;
}
.info-left {
  width: 50%;
}
.info-content {
  flex: 1;
  background-color: var(--primary-color);
  color: white;
  padding: 4.2rem;
}
.info-content h2 {
  font-size: 2rem;
}
.info-content p {
  font-size: 1.2rem;
  padding: 1.4rem 0;
}
.info-content li {
  font-size: 1.2rem;
  line-height: 2;
}
.info-content .fas {
  color: var(--secondary-color);
  margin-right: 1rem;
}
/* course-info style ends here */

/* key-section style */
.key-section {
  margin: 4rem 0;
}
.key-grid .fas {
  color: var(--primary-color);
}
.key-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.5rem 0;
}
.key-grid .course-chapters {
  flex-direction: row;
  gap: 1.5rem;
}
.key-grid p {
  text-align: left;
}
/* key-section style ends here */
/* details-section*/
.details-section {
  margin: 4rem 0;
}
.details-flex {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.details-flex img {
  width: 100%;
  max-width: 500px;
}
.details-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.details-content .learn-heading-border {
  margin: 0;
}
.details-content p {
  margin: 1rem 0 2rem;
}
.details-content ul {
  margin-bottom: 2rem;
}
.details-content li {
  line-height: 2;
}
.details-content .fas {
  margin-right: 0.5rem;
  color: var(--primary-color);
}
/* details-section style ends here */
/* author-section style */
.details-section + .author-section .details-flex {
  flex-direction: row-reverse;
}
/* author-section style ends here*/

/* review-section style */
.review-section {
  background: url("./images/stats-background.jpg") no-repeat center center/cover;
  margin: 4rem 0;
  color: white;
}
.review-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 8rem; */
  padding: 4rem 2rem;
}
.review-section img {
  width: 100%;
  max-width: 500px;
}
.review-content {
  max-width: 500px;
}
.review-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 0;
}
.review-stat h3 {
  font-size: 3rem;
}
.review-content p {
  font-size: 0.8rem;
  text-align: center;
}
p.review-para {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.review-section .hompage-btn {
  display: block;
  width: 200px;
  margin: 0 auto;
}
/* review-section style ends here*/

/* subscription-section style*/
.subscription-section {
  margin: 0 2rem;
}
.subscription-flex {
  text-align: center;
  background-color: rgba(226, 226, 226, 0.252);
  /* margin: 0 30px; */
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: thin solid #ccc;
}
.subscription-flex h2 {
  font-size: 2rem;
}
.subscription-flex p {
  max-width: 600px;
}
.subscription-flex form {
  width: 400px;
}
.subscription-flex input[type="email"] {
  width: 100%;
  padding: 1rem 2rem;
  border: thin solid rgb(204, 204, 204);
  margin: 1rem 0;
  border-radius: 32px;
}
/* subscription-section style ends here*/

@media (max-width: 1200px) {
  .homepage-flex {
    gap: 1.5rem;
    /* border: 3px solid blue; */
  }
  .homepage-flex img {
    margin-right: 0px;
    max-width: 500px;
  }
  .homepage-flex h1 {
    font-size: 3rem;
  }
  .learn-gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .homepage-flex {
    /* border: 4px solid olive; */
    flex-direction: column;
    text-align: center;
    padding: 1.2rem;
  }

  .home-content p {
    padding: 20px;
  }
  .homepage-flex img {
    max-width: 600px;
  }
  .learn-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .course-grid {
    grid-template-columns: 1fr;
  }
  .key-grid {
    grid-template-columns: 1fr;
  }
  .details-flex,
  .details-section + .author-section .details-flex,
  .review-flex {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  /* .homepage-flex {
    border: 3px solid orangered;
  } */
  .nav-bar {
    display: none;
  }
  .mobile-bar {
    display: block;
  }
  .learn-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .info-left {
    display: none;
  }
  .info-container {
    flex-direction: column;
  }
  .info-content {
    padding: 2rem 2.2rem;
  }
  .info-content h2 {
    font-size: 1.5rem;
  }
  .info-content p {
    font-size: 1rem;
    padding: 1.2rem 0 2rem;
  }
  .info-content li {
    font-size: 1.2rem;
    line-height: 2;
  }
}
@media (max-width: 576px) {
  .home-content p {
    padding: 20px 0px;
    line-height: 1.8;
  }

  /* .homepage-flex {
    border: 4px solid violet;
  } */
  .homepage-flex h1 {
    font-size: 2.5rem;
  }

  .homepage-flex img {
    max-width: 350px;
  }
  .learn-gallery-grid {
    grid-template-columns: 1fr;
  }
  .summary {
    padding: 4rem 0.2rem 5rem;
  }
  .summary-list {
    padding: 3rem 1.5rem;
  }
  .summary-list-item .summary-heading {
    padding: 0.5rem 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
  }
  .review-stat {
    flex-direction: column;
  }
  .subscription-flex h2 {
    font-size: 1.5rem;
  }
  .subscription-flex p {
    display: none;
  }
}
